
 .left-menu {
     position: absolute;   
     height: 100vh;
     background-color:rgba(31, 58, 147,0.5) ;
     display: flex;
     align-items: center;
     
 }



.left-menu ul {
     -webkit-padding-start: 0px;
   
}  
.left-menu span  {
    display: block;
    text-align: center;
    color: red;
    float: right;
    width: 80%;
    font-size: 20px;
    margin-top: 12px;
    
   }    


 .left-menu a:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
 

.left-menu  a {
    text-decoration: none;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}
    

.left-menu li{
    padding: 10px;
    margin: 10px;
   list-style-type: none;
}

.left-menu img{
     width: 20%;
    display: block;
    float: left;

}

@media screen and (max-width: 1000px) {
    .left-menu span {
        display: none;
    }
}