
/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
@media screen and (min-width: 1000px) {
    .menu {
         width:40%; 
               
    }

 
.menu ul {
    display: flex;
}
 
.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;    
}
 
.menu li:last-child {
    margin-right:0px;
}
 

 
.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}
 
}

 

 

 
/*----- Responsive -----*/


 
@media screen and (max-width: 1000px) {
    .menu {
        order: 3;
        z-index: 999999;
        margin-right: 20px;
        
    }
   
    .menu ul.active {
        display:none;
               
    }
 
    .menu ul {
        
        width:100%;       
        position:absolute;
        height: 100%;
        top: -16px;
        left: 0px;
        display: flex;
        justify-content: center;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#E7DF86;
    }
 

    .menu li {
            margin: auto 20px;
            display: inline-block;
    }
 
    .menu a {
        display:block;
        
    }
 
    .toggle-nav {
        padding:10px;
        margin-top: 5px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:  rgba(241, 196, 15,0.5);     
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
      
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
        position: relative;
        
    }
 
   
 
    
}